<%= stylesheet_link_tag "table.css" %>
<%= stylesheet_link_tag "post.css" %>
<div class="table-container">
  <table id="users">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>User Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index  do |user, index| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td><%= user.birthday %></td>
          <td><%= user.super_user_flag == true ? "Super User" : "Normal User" %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.super_user_flag %>
    <%= link_to "Add User", new_user_users_path, class: "btn-submit" %>
  <% end %>
</div>
<script>
  $(document).ready(function() {
      var userTable=$("#users").DataTable({})
  });
</script>
