<%= stylesheet_link_tag "post.css" %>
<body>
  <h1 style= "text-align: center">Posts</h1>
  <div class="top">
    <%= form_with class: "search", url: search_posts_path, method: :get do |form| %>
      <div class="post-search">
        <%= form.text_field :search_keyword, class: "form-control",placeholder: "search post", value: @last_search_keyword %>
      </div>
    <% end %>
    <ul class="navbar-nav my-sm-0 filter">
      <li class="nav-item">
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" role="button" 
          id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter By
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "All Post", posts_path , class:"dropdown-item" %>
            <%= link_to "Own Post", filter_posts_path , class:"dropdown-item" %>
          </div>
        </div>
      </li>
    </ul>
    <%= link_to "Download", download_csv_posts_path(format: :csv), class:"btn-download" %>
    <ul class="navbar-nav my-sm-0">
      <li class="nav-item button">
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" role="button" 
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Write Post", new_post_posts_path, class:"dropdown-item" %>
            <%= link_to "Import CSV", upload_csv_posts_path, class:"dropdown-item" %>
          </div>
        </div>
      </li>
    </ul>
    <%if notice %>
      <div class="error-msg"> <%= notice %> </div>
    <% end %>
  </div>
  <% if  @posts.empty?  %>
    <p style= "text-align:center"> No Post to show.</p>
  <% else %>
    <% @posts.each do |post| %>
      <div data-aos="fade-up">
        <h2 class="header"><%= post.title %>
          <% if post.public_flag == true %>&nbsp;<i class="fa fa-globe" style="font-size:24px;"></i>
          <% else %>
            &nbsp; <i class="fa fa-lock" style="font-size:24px;"></i>
          <% end %>
          <p style="font-size:12px"> <i class="fa fa-calendar"></i>
            <%= post.created_at.strftime("%Y/%m/%d " )%> [Posted By: <%= post.user.name %>]  </p>
        </h2>
        <div class="content"><%= truncate(post.description.html_safe, length:50)%><br>
          <%= link_to "Show More >>", post_path(post), class: "show-more" %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
  <div class="wrapper">
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</body>
<script>
  AOS.init();
</script>
