<%= stylesheet_link_tag "post.css" %>
<h1 style="text-align: center">Post Detail</h1>
<h2 class="header"><%= @post.title %></h2>
<div class= "content"><%= simple_format(@post.description) %> </br> </br>
<% if can_edit(@post) %>
  <%= link_to "Edit post", edit_post_path(@post), class: "btn-submit" %>
  <%= link_to "Delete", post_path(@post),
        method: :delete,
        data: { confirm: "Are you sure to delete?" }, class: "btn-delete" %>
<% end %>
</div>
