<%= stylesheet_link_tag "post.css" %>
<body>
  <div class="container">
    <h3>Upload CSV File</h3>
    <br>
    <%= form_tag import_csv_posts_path, multipart: true do |form| %>
      <div class="field form-group row">
        <div class="col-sm-4"><%= file_field_tag :file, accept: 'text/csv', class: "form-control" %> </div>
      </div>
      <%if notice %>
        <div class="error-msg"> <%= notice %> </div>
      <% end %>
      <%= submit_tag "Upload", class: 'btn-submit' %>
      <%= link_to "Download CSV Format".html_safe, csv_format_posts_path(format: :csv), class: "btn-alert" %>
      <%= link_to 'Cancel', posts_path , class:"btn-delete" %>
    <% end %>
  </div>
</body>
